doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content='initial-scale=1.0, width=device-width')
        title JM test
        link(href='style.css' rel='stylesheet')
    body.index
        .index__content
            form.index__form
                input.index__form-input
                .index__form-results
                    button.index__form-results-item.js-index__form-results-item(type='button') test
                    button.index__form-results-item.js-index__form-results-item(type='button') test
            .index__items.js-index__items
                .index__items-item
                    ul.index__items-item-data
                        li.index__items-item-data-item Name: react 
                        li.index__items-item-data-item Owner: facebook
                        li.index__items-item-data-item Stars: 145231
                    button.index__items-item-close.js-index__items-item-close(type='button')
                        img(src='close.svg' width='42')

        script(type='application/javascript' src='scripts.js')

