doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content='initial-scale=1.0, width=device-width')
        title JM test
        link(href='style.css' rel='stylesheet')
    body.index
        .index__content
            form.index__form
                input.index__form-input.js-index__form-input
                .index__form-results.js-index__form-results
            .index__items.js-index__items

        script(type='application/javascript' src='scripts.js')

